/* line 9, ../_assets/css/_thumper.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 10, ../_assets/css/_thumper.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 11, ../_assets/css/_thumper.scss */
ol, ul {
  list-style: none;
  width: 100%; }

/* line 12, ../_assets/css/_thumper.scss */
blockquote, q {
  quotes: none; }

/* line 13, ../_assets/css/_thumper.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 14, ../_assets/css/_thumper.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 17, ../_assets/css/_thumper.scss */
body h1 {
  font-size: 30px; }
/* line 18, ../_assets/css/_thumper.scss */
body h2 {
  font-size: 26px; }
/* line 19, ../_assets/css/_thumper.scss */
body h3 {
  font-size: 20px; }
/* line 20, ../_assets/css/_thumper.scss */
body h4 {
  font-size: 16px; }
/* line 21, ../_assets/css/_thumper.scss */
body p {
  font-size: 16px; }

/* line 72, ../_assets/css/_thumper.scss */
.grid {
  float: left;
  margin: 1% 2% 0 0; }

/* line 73, ../_assets/css/_thumper.scss */
.clear {
  clear: both; }

/* line 74, ../_assets/css/_thumper.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 75, ../_assets/css/_thumper.scss */
.wrap {
  width: 100%; }

/* line 76, ../_assets/css/_thumper.scss */
.pad {
  padding: 0 20px 0 20px; }

/* line 77, ../_assets/css/_thumper.scss */
.contain {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; }

/* line 78, ../_assets/css/_thumper.scss */
.last {
  margin-right: 0 !important; }

/* line 79, ../_assets/css/_thumper.scss */
.space {
  content: ' ';
  visibility: hidden; }

@media only screen and (min-width: 861px) and (max-width: 1040px) {
  /* line 101, ../_assets/css/_thumper.scss */
  .grid {
    float: left;
    margin: 1.2% 2% 0 0; } }
@media only screen and (min-width: 640px) and (max-width: 860px) {
  /* line 110, ../_assets/css/_thumper.scss */
  .grid {
    float: left;
    margin: 1.5% 2% 0 0; } }
@media only screen and (max-width: 639px) {
  /* line 119, ../_assets/css/_thumper.scss */
  .grid {
    float: left;
    width: 100% !important;
    margin: 2% 3% 0 0; }

  /* line 120, ../_assets/css/_thumper.scss */
  .pad {
    padding: 0 2.5% 0 2.5%; } }
/* line 1, ../_assets/css/_syntax.scss */
.highlight {
  background: #ffffff; }

/* line 2, ../_assets/css/_syntax.scss */
.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
/* line 3, ../_assets/css/_syntax.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
/* line 4, ../_assets/css/_syntax.scss */
.highlight .k {
  font-weight: bold; }

/* Keyword */
/* line 5, ../_assets/css/_syntax.scss */
.highlight .o {
  font-weight: bold; }

/* Operator */
/* line 6, ../_assets/css/_syntax.scss */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
/* line 7, ../_assets/css/_syntax.scss */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
/* line 8, ../_assets/css/_syntax.scss */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
/* line 9, ../_assets/css/_syntax.scss */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
/* line 10, ../_assets/css/_syntax.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
/* line 11, ../_assets/css/_syntax.scss */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
/* line 12, ../_assets/css/_syntax.scss */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
/* line 13, ../_assets/css/_syntax.scss */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
/* line 14, ../_assets/css/_syntax.scss */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
/* line 15, ../_assets/css/_syntax.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
/* line 16, ../_assets/css/_syntax.scss */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
/* line 17, ../_assets/css/_syntax.scss */
.highlight .go {
  color: #888888; }

/* Generic.Output */
/* line 18, ../_assets/css/_syntax.scss */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
/* line 19, ../_assets/css/_syntax.scss */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
/* line 20, ../_assets/css/_syntax.scss */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
/* line 21, ../_assets/css/_syntax.scss */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
/* line 22, ../_assets/css/_syntax.scss */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
/* line 23, ../_assets/css/_syntax.scss */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
/* line 24, ../_assets/css/_syntax.scss */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
/* line 25, ../_assets/css/_syntax.scss */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
/* line 26, ../_assets/css/_syntax.scss */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
/* line 27, ../_assets/css/_syntax.scss */
.highlight .m {
  color: #009999; }

/* Literal.Number */
/* line 28, ../_assets/css/_syntax.scss */
.highlight .s {
  color: #dd1144; }

/* Literal.String */
/* line 29, ../_assets/css/_syntax.scss */
.highlight .na {
  color: teal; }

/* Name.Attribute */
/* line 30, ../_assets/css/_syntax.scss */
.highlight .nb {
  color: #0086b3; }

/* Name.Builtin */
/* line 31, ../_assets/css/_syntax.scss */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
/* line 32, ../_assets/css/_syntax.scss */
.highlight .no {
  color: teal; }

/* Name.Constant */
/* line 33, ../_assets/css/_syntax.scss */
.highlight .ni {
  color: purple; }

/* Name.Entity */
/* line 34, ../_assets/css/_syntax.scss */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
/* line 35, ../_assets/css/_syntax.scss */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
/* line 36, ../_assets/css/_syntax.scss */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
/* line 37, ../_assets/css/_syntax.scss */
.highlight .nt {
  color: navy; }

/* Name.Tag */
/* line 38, ../_assets/css/_syntax.scss */
.highlight .nv {
  color: teal; }

/* Name.Variable */
/* line 39, ../_assets/css/_syntax.scss */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
/* line 40, ../_assets/css/_syntax.scss */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
/* line 41, ../_assets/css/_syntax.scss */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
/* line 42, ../_assets/css/_syntax.scss */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
/* line 43, ../_assets/css/_syntax.scss */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
/* line 44, ../_assets/css/_syntax.scss */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
/* line 45, ../_assets/css/_syntax.scss */
.highlight .sb {
  color: #dd1144; }

/* Literal.String.Backtick */
/* line 46, ../_assets/css/_syntax.scss */
.highlight .sc {
  color: #dd1144; }

/* Literal.String.Char */
/* line 47, ../_assets/css/_syntax.scss */
.highlight .sd {
  color: #dd1144; }

/* Literal.String.Doc */
/* line 48, ../_assets/css/_syntax.scss */
.highlight .s2 {
  color: #dd1144; }

/* Literal.String.Double */
/* line 49, ../_assets/css/_syntax.scss */
.highlight .se {
  color: #dd1144; }

/* Literal.String.Escape */
/* line 50, ../_assets/css/_syntax.scss */
.highlight .sh {
  color: #dd1144; }

/* Literal.String.Heredoc */
/* line 51, ../_assets/css/_syntax.scss */
.highlight .si {
  color: #dd1144; }

/* Literal.String.Interpol */
/* line 52, ../_assets/css/_syntax.scss */
.highlight .sx {
  color: #dd1144; }

/* Literal.String.Other */
/* line 53, ../_assets/css/_syntax.scss */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
/* line 54, ../_assets/css/_syntax.scss */
.highlight .s1 {
  color: #dd1144; }

/* Literal.String.Single */
/* line 55, ../_assets/css/_syntax.scss */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
/* line 56, ../_assets/css/_syntax.scss */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
/* line 57, ../_assets/css/_syntax.scss */
.highlight .vc {
  color: teal; }

/* Name.Variable.Class */
/* line 58, ../_assets/css/_syntax.scss */
.highlight .vg {
  color: teal; }

/* Name.Variable.Global */
/* line 59, ../_assets/css/_syntax.scss */
.highlight .vi {
  color: teal; }

/* Name.Variable.Instance */
/* line 60, ../_assets/css/_syntax.scss */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
/* line 8, ../_assets/css/main.scss */
body {
  background-color: #f2f2f2; }
  /* line 10, ../_assets/css/main.scss */
  body h1, body h2, body h3, body h4 {
    font-weight: 400;
    font-style: normal;
    font-family: "Oswald", sans-serif;
    color: #2b2b2b; }
  /* line 14, ../_assets/css/main.scss */
  body h1 {
    font-size: 80px; }
  /* line 15, ../_assets/css/main.scss */
  body h2 {
    font-size: 60px; }
  /* line 16, ../_assets/css/main.scss */
  body h3 {
    font-size: 45px; }
  /* line 17, ../_assets/css/main.scss */
  body h4 {
    font-size: 30px; }
  /* line 18, ../_assets/css/main.scss */
  body a {
    text-decoration: none;
    color: #ff5200; }
    /* line 21, ../_assets/css/main.scss */
    body a:hover {
      text-decoration: underline; }
  /* line 25, ../_assets/css/main.scss */
  body ul {
    list-style: disc;
    padding-left: 3%;
    font-weight: 300;
    font-style: normal;
    font-family: "Oswald", sans-serif;
    font-size: 19px; }
    /* line 30, ../_assets/css/main.scss */
    body ul li {
      padding: 0 10px;
      color: #414141; }

/* line 39, ../_assets/css/main.scss */
.header {
  background-color: #ff5200;
  padding-top: 1px;
  padding-bottom: 14px; }
  /* line 43, ../_assets/css/main.scss */
  .header .navcontain {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    margin-top: 1%; }
    /* line 46, ../_assets/css/main.scss */
    .header .navcontain .logo {
      width: 10%;
      float: left;
      padding-right: 3%; }
    /* line 51, ../_assets/css/main.scss */
    .header .navcontain .nav {
      margin-top: 4px;
      width: 100%;
      float: left; }
      /* line 55, ../_assets/css/main.scss */
      .header .navcontain .nav li {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        padding-right: 4%; }
      /* line 59, ../_assets/css/main.scss */
      .header .navcontain .nav a {
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        font-family: "Oswald", sans-serif;
        color: #272727; }
        /* line 63, ../_assets/css/main.scss */
        .header .navcontain .nav a:hover {
          text-decoration: none;
          -webkit-transition: border 0.15s linear;
          -moz-transition: border 0.15s linear;
          -o-transition: border 0.15s linear;
          transition: border 0.15s linear;
          border-top: 4px solid black; }

/* line 74, ../_assets/css/main.scss */
.content {
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 40px; }
  /* line 78, ../_assets/css/main.scss */
  .content h1 {
    font-size: 100px;
    color: #2b2b2b; }
  /* line 82, ../_assets/css/main.scss */
  .content p {
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    line-height: 32px;
    font-size: 19px;
    padding: 5px 0 5px 0;
    color: #414141; }

/* line 92, ../_assets/css/main.scss */
.homepage h2 a {
  font-size: 60px; }
/* line 97, ../_assets/css/main.scss */
.homepage .homeblog h3 {
  font-weight: 600;
  font-size: 18px; }
/* line 101, ../_assets/css/main.scss */
.homepage .homeblog h2 {
  color: #ff5200; }

/* line 107, ../_assets/css/main.scss */
.post-categories {
  padding-left: 0 !important;
  width: 100%; }
  /* line 110, ../_assets/css/main.scss */
  .post-categories li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    padding-right: 2%; }

/* line 118, ../_assets/css/main.scss */
.post {
  padding-bottom: 40px; }
  /* line 120, ../_assets/css/main.scss */
  .post .date {
    font-weight: 400;
    font-style: normal;
    font-family: "Oswald", sans-serif;
    font-size: 12px; }
  /* line 124, ../_assets/css/main.scss */
  .post .cats {
    font-weight: 400;
    font-style: normal;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    float: left;
    padding-right: 1%; }
  /* line 130, ../_assets/css/main.scss */
  .post .moretag {
    font-weight: 400; }
  /* line 133, ../_assets/css/main.scss */
  .post .commentwrap {
    padding-top: 50px; }
  /* line 136, ../_assets/css/main.scss */
  .post h2 {
    padding-top: 25px; }
  /* line 139, ../_assets/css/main.scss */
  .post .titleheader {
    padding-top: 0 !important; }

/* line 154, ../_assets/css/main.scss */
.timeline {
  overflow: hidden;
  position: relative;
  margin-bottom: 2em; }

/* line 159, ../_assets/css/main.scss */
.timeline .timeline-title {
  clear: both;
  text-align: center;
  border: 2px solid #e2e2e2;
  background: #f0f0f0;
  margin: 0 auto 2em;
  max-width: 8em;
  padding: 0.25em 0.5em; }

/* line 168, ../_assets/css/main.scss */
.timeline ul {
  overflow: hidden;
  margin: 0 0 1em;
  padding: 0; }

/* line 173, ../_assets/css/main.scss */
.timeline li {
  background: #e2e2e2;
  padding: 2%;
  border-radius: 4px;
  list-style-type: none;
  margin: 0 0 1em 1em;
  position: relative; }

/* line 181, ../_assets/css/main.scss */
.timeline li:before {
  color: #e2e2e2;
  content: "◀";
  position: absolute;
  left: -0.75em;
  top: 0.5em;
  z-index: 100; }

/* line 189, ../_assets/css/main.scss */
.timeline time {
  color: #979797;
  display: block;
  font-size: 0.9em;
  font-style: italic; }

/* line 195, ../_assets/css/main.scss */
.timeline .description {
  margin-bottom: 0;
  line-height: 31px;
  font-size: 17px; }

@media (min-width: 20em) {
  /* line 201, ../_assets/css/main.scss */
  .matte {
    float: right;
    width: 37.5%;
    margin: 0 0 1em 1.5em; } }
@media screen and (min-width: 40em) {
  /* line 208, ../_assets/css/main.scss */
  .timeline {
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #f2f2f2), color-stop(49.59%, #f2f2f2), color-stop(49.6%, #e2e2e2), color-stop(49.9%, #e2e2e2), color-stop(50%, #f2f2f2));
    background: -webkit-linear-gradient(left, #f2f2f2 0%, #f2f2f2 49.59%, #e2e2e2 49.6%, #e2e2e2 49.9%, #f2f2f2 50%);
    background: -moz-linear-gradient(left, #f2f2f2 0%, #f2f2f2 49.59%, #e2e2e2 49.6%, #e2e2e2 49.9%, #f2f2f2 50%);
    background: -o-linear-gradient(left, #f2f2f2 0%, #f2f2f2 49.59%, #e2e2e2 49.6%, #e2e2e2 49.9%, #f2f2f2 50%);
    background: linear-gradient(left, #f2f2f2 0%, #f2f2f2 49.59%, #e2e2e2 49.6%, #e2e2e2 49.9%, #f2f2f2 50%); }

  /* line 212, ../_assets/css/main.scss */
  .timeline .timeline-title {
    margin-bottom: 0.5em; }

  /* line 215, ../_assets/css/main.scss */
  .timeline img {
    margin-bottom: 0.3em; }

  /* line 218, ../_assets/css/main.scss */
  .timeline p {
    font-size: 0.9em; }

  /* line 221, ../_assets/css/main.scss */
  .timeline li {
    width: 40%;
    margin: 3% 5% 0; }

  /* line 225, ../_assets/css/main.scss */
  .timeline li:nth-of-type(odd) {
    float: left; }

  /* line 228, ../_assets/css/main.scss */
  .timeline li:nth-of-type(odd):before {
    content: "▶";
    left: auto;
    right: -0.75em; }

  /* line 233, ../_assets/css/main.scss */
  .timeline li:nth-of-type(even) {
    margin-top: -1%;
    float: right; }

  /* line 237, ../_assets/css/main.scss */
  .timeline li:nth-of-type(2n+1) {
    clear: both; } }
/* line 241, ../_assets/css/main.scss */
.time {
  font-weight: 300;
  font-style: italic;
  font-family: "Oswald", sans-serif;
  font-size: 12px; }

/* =========================================================== Footer.php ============================================================ */
/* line 246, ../_assets/css/main.scss */
.footer {
  background-color: #ff5200;
  padding: 13px 0 13px 0; }
  /* line 249, ../_assets/css/main.scss */
  .footer .footercontain {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px; }
    /* line 251, ../_assets/css/main.scss */
    .footer .footercontain a, .footer .footercontain p {
      color: #2b2b2b;
      font-weight: 300;
      font-style: normal;
      font-family: "Oswald", sans-serif;
      font-size: 14px; }

/* line 261, ../_assets/css/main.scss */
.error h2, .error h3, .error p {
  text-align: center !important; }

/* line 267, ../_assets/css/main.scss */
.portfolio h2 {
  font-size: 34px;
  color: #ff5200; }
/* line 271, ../_assets/css/main.scss */
.portfolio .port-grid {
  margin-top: 4%; }
/* line 274, ../_assets/css/main.scss */
.portfolio .imgcontain {
  position: relative; }
  /* line 276, ../_assets/css/main.scss */
  .portfolio .imgcontain img {
    width: 100%; }
/* line 280, ../_assets/css/main.scss */
.portfolio .hoverdiv {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75); }
  /* line 288, ../_assets/css/main.scss */
  .portfolio .hoverdiv p {
    color: white;
    text-align: center;
    margin-top: 20%;
    font-size: 30px; }
  /* line 294, ../_assets/css/main.scss */
  .portfolio .hoverdiv span {
    color: white;
    display: block;
    text-align: center;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 14px; }

/* =========================================================== Thumper.php ============================================================ */
/* line 306, ../_assets/css/main.scss */
.thumper h1 {
  text-align: center; }
/* line 310, ../_assets/css/main.scss */
.thumper .topthird h2 {
  text-align: center; }

/* ------------------------------------------------------------------------- *
 *  Mobile (Common) : 639px > 0px Width
/* ------------------------------------------------------------------------- */
@media only screen and (max-width: 639px) {
  /* line 325, ../_assets/css/main.scss */
  body h1 {
    font-size: 51px !important; }
  /* line 326, ../_assets/css/main.scss */
  body h2 {
    font-size: 36px !important; }
  /* line 327, ../_assets/css/main.scss */
  body h3 {
    font-size: 25px !important; }

  /* line 329, ../_assets/css/main.scss */
  .nav {
    width: 100% !important; }
    /* line 331, ../_assets/css/main.scss */
    .nav li {
      padding-left: 0 !important;
      padding-right: 4% !important; }
    /* line 332, ../_assets/css/main.scss */
    .nav a {
      font-size: 16px !important; }

  /* line 335, ../_assets/css/main.scss */
  .wpcf7 textarea, .wpcf7 input {
    width: 90% !important; }
  /* line 336, ../_assets/css/main.scss */
  .wpcf7 input[type="submit"] {
    width: 38% !important; } }
