@import url(syntax.css);
/* line 9, _thumper.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 10, _thumper.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 11, _thumper.scss */
ol, ul {
  list-style: none;
  width: 100%; }

/* line 12, _thumper.scss */
blockquote, q {
  quotes: none; }

/* line 13, _thumper.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 14, _thumper.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 17, _thumper.scss */
body h1 {
  font-size: 30px; }
/* line 18, _thumper.scss */
body h2 {
  font-size: 26px; }
/* line 19, _thumper.scss */
body h3 {
  font-size: 20px; }
/* line 20, _thumper.scss */
body h4 {
  font-size: 16px; }
/* line 21, _thumper.scss */
body p {
  font-size: 16px; }

/* line 72, _thumper.scss */
.grid {
  float: left;
  margin: 1% 2% 0 0; }

/* line 73, _thumper.scss */
.clear {
  clear: both; }

/* line 74, _thumper.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 75, _thumper.scss */
.wrap {
  width: 100%; }

/* line 76, _thumper.scss */
.pad {
  padding: 0 20px 0 20px; }

/* line 77, _thumper.scss */
.contain {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; }

/* line 78, _thumper.scss */
.last {
  margin-right: 0 !important; }

/* line 79, _thumper.scss */
.space {
  content: ' ';
  visibility: hidden; }

@media only screen and (min-width: 861px) and (max-width: 1040px) {
  /* line 101, _thumper.scss */
  .grid {
    float: left;
    margin: 1.2% 2% 0 0; } }
@media only screen and (min-width: 640px) and (max-width: 860px) {
  /* line 110, _thumper.scss */
  .grid {
    float: left;
    margin: 1.5% 2% 0 0; } }
@media only screen and (max-width: 639px) {
  /* line 119, _thumper.scss */
  .grid {
    float: left;
    width: 100% !important;
    margin: 2% 3% 0 0; }

  /* line 120, _thumper.scss */
  .pad {
    padding: 0 2.5% 0 2.5%; } }
/* =========================================================== Base Styles ============================================================ */
/* line 15, main.scss */
body {
  background-color: #F2F2F2; }
  /* line 17, main.scss */
  body h1 {
    font-size: 80px;
    font-family: "Oswald", sans-serif;
    color: #2b2b2b; }
  /* line 22, main.scss */
  body h2 {
    font-size: 60px;
    font-family: "Oswald", sans-serif;
    color: #2b2b2b; }
  /* line 27, main.scss */
  body h3 {
    font-size: 45px;
    font-family: "Oswald", sans-serif;
    color: #2b2b2b; }
  /* line 32, main.scss */
  body h4 {
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    color: #2b2b2b; }
  /* line 37, main.scss */
  body a {
    text-decoration: none;
    color: #ff5200; }
    /* line 40, main.scss */
    body a:hover {
      text-decoration: underline; }
  /* line 44, main.scss */
  body ul {
    list-style: disc;
    padding-left: 3%;
    font-family: "Oswald", sans-serif;
    font-size: 19px;
    font-weight: 300; }
    /* line 50, main.scss */
    body ul li {
      padding: 0 10px;
      color: #414141; }

/* =========================================================== Header.php ============================================================ */
/* line 59, main.scss */
.header {
  background-color: #ff5200;
  padding-top: 1px;
  padding-bottom: 14px; }
  /* line 63, main.scss */
  .header .navcontain {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    margin-top: 1%; }
    /* line 66, main.scss */
    .header .navcontain .logo {
      width: 10%;
      float: left;
      padding-right: 3%; }
    /* line 71, main.scss */
    .header .navcontain .nav {
      margin-top: 4px;
      width: 100%;
      float: left; }
      /* line 75, main.scss */
      .header .navcontain .nav li {
        display: inline-block;
        padding-right: 4%; }
      /* line 79, main.scss */
      .header .navcontain .nav a {
        font-size: 20px;
        font-family: "Oswald", sans-serif;
        color: #272727;
        font-weight: 400; }
        /* line 84, main.scss */
        .header .navcontain .nav a:hover {
          text-decoration: none;
          border-top: 4px solid black;
          -webkit-transition: border 0.15s linear;
          transition: border 0.15s linear; }

/* =========================================================== Homepage.php ============================================================ */
/* line 96, main.scss */
.content {
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 40px; }
  /* line 100, main.scss */
  .content h1 {
    font-size: 100px;
    font-family: "Oswald", sans-serif;
    color: #2B2B2B; }
  /* line 105, main.scss */
  .content p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 32px;
    font-size: 19px;
    padding: 5px 0 5px 0;
    color: #414141; }

/* line 116, main.scss */
.homepage h2 a {
  font-size: 60px; }
/* line 121, main.scss */
.homepage .homeblog h3 {
  font-weight: 600;
  font-size: 18px; }
/* line 125, main.scss */
.homepage .homeblog h2 {
  color: #ff5200; }

/* =========================================================== Single ============================================================ */
/* line 131, main.scss */
.post-categories {
  padding-left: 0 !important;
  width: 100%; }
  /* line 134, main.scss */
  .post-categories li {
    display: inline-block;
    padding-right: 2%; }

/* =========================================================== Index.php ============================================================ */
/* line 142, main.scss */
.post {
  padding-bottom: 40px; }
  /* line 144, main.scss */
  .post .date {
    font-family: "Oswald", sans-serif;
    font-size: 12px; }
  /* line 148, main.scss */
  .post .cats {
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    float: left;
    padding-right: 1%; }
  /* line 154, main.scss */
  .post .moretag {
    font-weight: 400; }
  /* line 157, main.scss */
  .post .commentwrap {
    padding-top: 50px; }
  /* line 160, main.scss */
  .post h2 {
    padding-top: 25px; }
  /* line 163, main.scss */
  .post .titleheader {
    padding-top: 0 !important; }

/* =========================================================== Contact ============================================================ */
/* =========================================================== About.php ============================================================ */
/* line 176, main.scss */
.timeline {
  overflow: hidden;
  position: relative;
  margin-bottom: 2em; }

/* line 181, main.scss */
.timeline .timeline-title {
  clear: both;
  text-align: center;
  border: 2px solid #e2e2e2;
  background: #f0f0f0;
  margin: 0 auto 2em;
  max-width: 8em;
  padding: 0.25em 0.5em; }

/* line 190, main.scss */
.timeline ul {
  overflow: hidden;
  margin: 0 0 1em;
  padding: 0; }

/* line 195, main.scss */
.timeline li {
  background: #e2e2e2;
  padding: 2%;
  border-radius: 4px;
  list-style-type: none;
  margin: 0 0 1em 1em;
  position: relative; }

/* line 203, main.scss */
.timeline li:before {
  color: #e2e2e2;
  content: "◀";
  position: absolute;
  left: -0.75em;
  top: 0.5em;
  z-index: 100; }

/* line 211, main.scss */
.timeline time {
  color: #979797;
  display: block;
  font-size: 0.9em;
  font-style: italic; }

/* line 217, main.scss */
.timeline .description {
  margin-bottom: 0;
  line-height: 31px;
  font-size: 17px; }

@media (min-width: 20em) {
  /* line 223, main.scss */
  .matte {
    float: right;
    width: 37.5%;
    margin: 0 0 1em 1.5em; } }
@media screen and (min-width: 40em) {
  /* line 230, main.scss */
  .timeline {
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #f0f0f0), color-stop(49.59%, #f0f0ee), color-stop(49.6%, #e2e2e2), color-stop(49.9%, #e2e2e2), color-stop(50%, #f0f0f0));
    background-image: -webkit-linear-gradient(left, #f2f2f2 0%, #f2f2f2 49.59%, #e2e2e2 49.6%, #e2e2e2 49.9%, #f2f2f2 50%);
    background-image: -moz-linear-gradient(left, #f2f2f2 0%, #f2f2f2 49.59%, #e2e2e2 49.6%, #e2e2e2 49.9%, #f2f2f2 50%);
    background-image: -o-linear-gradient(left, #f2f2f2 0%, #f2f2f2 49.59%, #e2e2e2 49.6%, #e2e2e2 49.9%, #f2f2f2 50%);
    background-image: linear-gradient(left, #f2f2f2 0%, #f2f2f2 49.59%, #e2e2e2 49.6%, #e2e2e2 49.9%, #f2f2f2 50%); }

  /* line 237, main.scss */
  .timeline .timeline-title {
    margin-bottom: 0.5em; }

  /* line 240, main.scss */
  .timeline img {
    margin-bottom: 0.3em; }

  /* line 243, main.scss */
  .timeline p {
    font-size: 0.9em; }

  /* line 246, main.scss */
  .timeline li {
    width: 40%;
    margin: 3% 5% 0; }

  /* line 250, main.scss */
  .timeline li:nth-of-type(odd) {
    float: left; }

  /* line 253, main.scss */
  .timeline li:nth-of-type(odd):before {
    content: "▶";
    left: auto;
    right: -0.75em; }

  /* line 258, main.scss */
  .timeline li:nth-of-type(even) {
    margin-top: -1%;
    float: right; }

  /* line 262, main.scss */
  .timeline li:nth-of-type(2n+1) {
    clear: both; } }
/* line 266, main.scss */
.time {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 12px; }

/* =========================================================== Footer.php ============================================================ */
/* line 273, main.scss */
.footer {
  background-color: #ff5200;
  padding: 13px 0 13px 0; }
  /* line 276, main.scss */
  .footer .footercontain {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px; }
    /* line 278, main.scss */
    .footer .footercontain a, .footer .footercontain p {
      color: black;
      font-weight: 300;
      font-family: "Oswald", sans-serif;
      font-size: 14px; }

/* =========================================================== 404 ============================================================ */
/* line 289, main.scss */
.error h2, .error h3, .error p {
  text-align: center !important; }

/* =========================================================== Porfolio ============================================================ */
/* line 295, main.scss */
.portfolio h2 {
  font-size: 34px;
  color: #ff5200; }
/* line 299, main.scss */
.portfolio .port-grid {
  margin-top: 4%; }
/* line 302, main.scss */
.portfolio .imgcontain {
  position: relative; }
  /* line 304, main.scss */
  .portfolio .imgcontain img {
    width: 100%; }
/* line 308, main.scss */
.portfolio .hoverdiv {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75); }
  /* line 316, main.scss */
  .portfolio .hoverdiv p {
    color: white;
    text-align: center;
    margin-top: 20%;
    font-size: 30px; }
  /* line 322, main.scss */
  .portfolio .hoverdiv span {
    color: white;
    display: block;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px; }

/* =========================================================== Thumper.php ============================================================ */
/* line 334, main.scss */
.thumper h1 {
  text-align: center; }
/* line 338, main.scss */
.thumper .topthird h2 {
  text-align: center; }

/* ------------------------------------------------------------------------- *
 *  Mobile (Common) : 639px > 0px Width
/* ------------------------------------------------------------------------- */
@media only screen and (max-width: 639px) {
  /* line 353, main.scss */
  body h1 {
    font-size: 51px !important; }
  /* line 354, main.scss */
  body h2 {
    font-size: 36px !important; }
  /* line 355, main.scss */
  body h3 {
    font-size: 25px !important; }

  /* line 357, main.scss */
  .nav {
    width: 100% !important; }
    /* line 359, main.scss */
    .nav li {
      padding-left: 0 !important;
      padding-right: 4% !important; }
    /* line 360, main.scss */
    .nav a {
      font-size: 16px !important; }

  /* line 363, main.scss */
  .wpcf7 textarea, .wpcf7 input {
    width: 90% !important; }
  /* line 364, main.scss */
  .wpcf7 input[type="submit"] {
    width: 38% !important; } }
